.wrap{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.todoListItem2{
  //display: flex;
  //justify-content: space-between;
  padding: 5px;
  background: white;
  //border-radius: 3px;
  //border: 1px solid dimgray;
}
Button{
  border: none;
  background: white;
}


